.articles {
  display: flex;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__article {
    position: relative;
    flex: calc(50% - 15px);
    height: 280px;
    display: inline-flex;
    margin-bottom: 30px;

    &--main {
      height: 400px;
    }

    &:nth-of-type(odd) {
      margin-right: 15px;
    }

    &:nth-of-type(even) {
      margin-left: 15px;
    }

    &:before {
      background-color: #fff;
      content: "";
      left: 0;
      top: 0;
      display: block;
      height: 100%;
      width: 100%;
      opacity: 0.5;
      position: absolute;

      @include for-size(tablet) {
        left: 50%;
        width: 50%;
      }
    }
  }

  &__date {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  &__desc {
    flex-direction: column;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    left: 0;
    justify-content: center;
    padding: 20px;

    @include for-size(tablet) {
      width: 50%;
      left: 50%;
    }
  }

  &__header {
    font-size: 20px;
    color: $text-main-color;
  }

  &__more {
    margin-top: 20px;
    color: $text-main-color;
    font-weight: 700;
  }
}