html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 18px;
  color: $text-main-color;
  line-height: 1.44;
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 300;
  background: #fff;
}

main {
  //margin-top: $navigation-height;

  @media screen and (min-width: $desktop) {
    //margin-top: $navigation-height;
    min-height: calc(100vh - 657px);
  }
}

img {
  max-width: 100%;
}

svg {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  line-height: 1.22;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
}

p {
  margin: 0.4rem 0;
  line-height: 1.4;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #fff;
}

ul, ol {
  margin: 0 0 0 $m;
  padding: 0;
}

.subpage {
  margin-top: 90px;
}