.product {
  img {
    max-height: 430px;
    object-fit: cover;
  }

  .see-gallery {
    display: inline-flex;
    margin-right: 40px;
    font-weight: 700;

    svg {
      margin-right: 10px;
    }
  }

  .thumbnail-wrapper {
    display: flex;
    margin: 40px 0;
  }

  .wrapper {
    display: flex;
    align-items: center;
  }

  .gallery-photo {
    display: none;
  }
}

.technical-info {
  padding: 60px 0;
  background: url("img/dane-techniczne.webp");
  color: $white;

  h3 {
    margin-bottom: 40px;
  }

  .wrapper {
    display: flex;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  h4 {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: flex-end;
    margin-right: 40px;
  }
}

.pluses {
  padding: 60px 0;

  h3 {
    margin-bottom: 40px;
  }
}


.see-gallery {
  color: $text-main-color;
}