.product {
  img {
    width: 100%;
    max-height: 430px;
    object-fit: cover;
  }

  .see-gallery {
    display: inline-flex;
    font-weight: 700;

    @include for-size(tablet) {
      margin-right: 40px
    }

    svg {
      margin-right: 10px;
    }
  }

  .thumbnail-wrapper {
    display: flex;
    margin: 40px 0;
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include for-size(tablet) {
      flex-direction: row;
    }

    .button {
      width: 280px;
      margin-top: 20px;

      @include for-size(tablet) {
        margin: 0;
      }
    }
  }

  .gallery-photo {
    display: none;
  }
}

.technical-info {
  padding: 60px 0;
  margin-top: 60px;
  background: url("img/dane-techniczne.webp");
  color: $white;

  .wrapper {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;

    @include for-size(desktop) {
      flex-direction: row;
    }

    p {
      max-width: 600px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  h4 {
    display: flex;
    align-items: center;
    margin-right: 40px;

    @include for-size(desktop) {
      width: 30%;
      justify-content: flex-end;
    }
  }
}

.pluses {
  padding: 60px 0 0;

  &__plus {
    display: flex;
    margin: $s 0;

    svg {
      margin-right: 20px;
    }

    a {
      color: $text-main-color;
      font-weight: 600;
    }
  }
}


.see-gallery {
  color: $text-main-color;
}

.projects {
  position: relative;

  &__main-image {
    display: flex;
    width: 100%;
    height: 700px;
    object-fit: cover;
  }
}

.thumbs {
  position: absolute;
  display: flex;
  width: 100%;
  height: 120px;
  bottom: 50px;
  justify-content: center;
  padding: 10px;
  background-color: rgba(0,0,0,.5);

  a {
    display: inline-flex;
    width: 150px;
    margin: 0 5px;

    img {
      width: 100%;
      object-fit: cover
    }
  }
}

.description {
  &__content {
    display: flex;
    height: 100%;
    align-items: center;
  }

  &__photo {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }

  &__one-line {
    margin-top: $m;
  }
}


.form-mobile {
  @include for-size(tablet) {
    display: none;
  }
}

.form-desktop {
  display: none;

  @include for-size(tablet) {
    display: block;
  }
}