header #ajaxsearchlite1 .probox, body div.asl_w .probox .promagnifier, body div.asl_w {
  background: transparent;
}

header div.asl_w {
  border: 1px solid #fff;
  border-radius: 20px;
}

header div[id*='ajaxsearchlite'].wpdreams_asl_container {
  width: 320px;
}

body div.asl_r.vertical {
  background: #1A2938;
}

body #ajaxsearchlite1 .probox .proinput input, div.asl_w .probox .proinput input {
  font-size: 14px;
}